<?php

return [
    'debug'                 => true,
    'config_cache_enabled'  => false,

    'db' => [
            'driver'   => 'Pdo',
            'dsn'      => 'mysql:dbname=unfinished;host=localhost',
            'username' => 'root',       // set DB username
            'password' => '',           // set DB password
    ],
    'upload' => [
        'public_path' => getcwd() . '/public/uploads/',
        'non_public_path' => getcwd() . '/data/uploads/',
    ],
    'meetupApi' => [
        'key' => '1a16666057586205f62f806f234d57'
    ]
];
